
/*******************************************************************************/
/* Various fixes
/*******************************************************************************/

.top-menu .menu-content {
    display: none;
}

.top-menu {
    background: #222222;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

/*******************************************************************************/
/* Login/signup modal
/*******************************************************************************/

.login-modal:not(.hidden) .login-left-side {
    background: #F0F3FF;
}

.d-modal.create-account .login-welcome-header,
.d-modal.login-modal .login-welcome-header,
.invites-show .login-welcome-header,
.admin-invite-page .login-welcome-header {
    background: inherit;
    .waving-hand {
        display: none;
    }
}


#login-form #credentials input {
    height: 40px;
}
.modal-footer #login-button {
    margin-right: 0px;
    width: 100%;
    svg {
        display: none;
    }
}

#new-account-link::before {
    content: "Don't have an account yet?";
    margin-right: 0.5em;
    color: var(--primary-high);
}
#new-account-link {
    font-size: var(--font-down-1);
    .d-button-label {
        color: var(--tertiary);
    }
    margin: 0 auto;
}

.create-account-form,
.d-modal.create-account .login-form,
.d-modal.create-account .modal-footer,
.login-modal-body,
.d-modal.login-modal:not(.hidden) .modal-footer,
.d-modal.create-account .create-account-form .login-welcome-header {
    background-color: #f0f3ff;
}
.d-modal.create-account .more-info {
    margin-left: 1em;
}
.d-modal.create-account .modal-footer::before {
    background-image: none;
    height: 0;
}

.d-modal.create-account .modal-footer {
    border-top: 1px solid #f0f3ff;
    padding-left: 30px;
    padding-right: 30px;
    button.btn-primary {
        width: 100%;
    }
    #login-link::before {
        content: "Already have an account?";
        margin-right: 0.5em;
        color: var(--primary-high);
    }
    #login-link {
        font-size: var(--font-down-1);
        .d-button-label {
            color: var(--tertiary);
        }
        margin: 0 auto;
    }
}

/* hide sign up button, fix log in button */
header .header-buttons {
    order: 10; /* move login to the right */
    button.login-button, button.login-button:hover {
        padding: 6px 16px;
        font-size: 14px;
        font-family: Poppins;
        svg {  /* remove icon */
            display: none;
        }
    }

}

/* Also, change
   js.login.title Login
   js.create_account.title Sign up
   */

// make logo smaller

.d-header #site-logo {
    height: 25px;
}

.anon .d-header .title {
    #site-logo.logo-mobile {
        clip-path: inset(0 115px 0 0);
    }
}

/* hide new topic button on mobile */
.header-buttons #new-create-topic {
    display: none;
}

/* show only the first x tags in the mobile topic list */
.topic-list .topic-item-stats__category-tags .discourse-tags {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 22px; /* so only a single line will show */
    margin-top: 11px;
}

.topic-list .main-link {
    margin-bottom: 14px;
    .title {
        font-size: 14px;
        font-weight: 500;
    }
}

.topic-list .topic-item-stats-extra {
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 16px;
    display: flex;
    margin-right: 20px;

    span {
        flex: 1;
    }
    .num.posts-map {
        font-size: 14px;
        vertical-align: baseline;
    }
    .num.posts-map .badge-posts {
        font-weight: 400;
    }
}

/**** Category navigation dropdowns and filters ****/


#main-outlet .list-controls .container {
    .category-breadcrumb {
        order: 1;
    }
    ul#navigation-bar {
        order: 2;
    }
    .navigation-controls {
        order: 3;
    }
    .list-controls .nav-pills > li > a {
        background-color: var(--secondary);
        color: var(--primary);
    }
}

.mobile-view .list-controls .nav-pills > li,
.list-controls .combo-box .combo-box-header {
    border-color: #dcdfec;
    color: #323338;
}
.mobile-view .list-controls .nav-pills > li > a {
    /* make sure caret is aligned right */
    display: flex;
    justify-content: space-between;
    align-items: center; /* This ensures vertical alignment in case your elements have different heights */

    background-color: var(--secondary);
    color: #323338;
    width: 172px;
    .d-icon {
        color: inherit;
        float: right;
    }
}

